/* do cái dropdown ko hoạt động nên phải thêm css vào */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
/* làm cho navbar lun ở phía trên và không bị trôi đi */
nav#navbar-example2  {
    /* position: fixed;
    top: 0;
    width: 100%; */
    background-color: #ccc;
}
/* .mt-50 {
    margin-top: 50px;
} */

.nav-item:hover .nav-link  {
    background-color: white;
}